.container {
    margin-top: 15%;
}
img {
    border-radius: 66px;
    width: 136px;
    height: 135px;
}
.img{
    text-align: center;

}
a{
    display: block;
}

footer {
    text-align: center;
}
#navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 98%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    /* font-family: 'Slabo 27px', serif; */
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: none;
}
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  footer{
    font-weight: 600;
  }

  .work-heading{
      text-align: center;
      font-weight: 500;
  }

  footer{
      margin-top: 10%;
      line-height: 2;
  }